<h1>
  Informações do Veículo: <%= @vehicle.model %>
</h1>

<h2>
  Dados de Entrada do Veículo
</h2>
<div>
    <p>
      <strong>Marca: </strong> <%= @vehicle.brand %>
    </p>

    <p>
      <strong>Placa: </strong> <%= @vehicle.plate %>
    </p>

    <p>
      <strong>Ano: </strong> <%= @vehicle.year %>
    </p>

    <p>
      <strong>KM Entrada: </strong> <%= @vehicle.entry_km %>
    </p>

    <p>
      <strong>Data de Entrada: </strong> <%= @vehicle.entry_date.strftime("%d-%m-%Y %H:%M") %>
    </p>

    <p>
      <strong>Descrição do Problema: </strong> <%= @vehicle.problem_description %>
    </p>
</div>

<%= link_to 'Editar', edit_vehicle_path if @vehicle.exit_date.nil? %>

<hr>

<% if @vehicle.exit_date.present? %>    
  <h2>
    Dados de Saída do Veículo
  </h2>

  <div>
    <p>
      <strong>Data de Saída: </strong> <%= @vehicle.exit_date.strftime("%d-%m-%Y %H:%M") %>
    </p>

    <p>
      <strong>KM Saída: </strong> <%= @vehicle.exit_km %>
    </p>

    <p>
      <strong>Diferença KM: </strong> <%= @vehicle.exit_km - @vehicle.entry_km %>
    </p>

    <p>
      <strong>Serviço realizado: </strong> <%= @vehicle.service_description %>
    </p>
  </div>
<% end %>
